// --------------------------------------------
// Responsive ---------------------------------
// --------------------------------------------
$screen__sizes: (
  'xs': 0,
  'sm': 600px,
  'md': 960px,
  'lg': 1280px - 16px,
  'xl': 1920px - 16px
) !default;

$gutter: 8px;
// --------------------------------------------
// Colors -------------------------------------
// --------------------------------------------
$color: (
  other: (
    orange: #f8a623,
    yellow: #ffe725,
    pink: #ff4577,
    light-purple: #a2a0d6,
    purple: #363377,
    dark-purple: #2d2b55,
    light-gray: #eef1f8,

    gray: #F3F4F9,
    blue: #4f88ff,
    light-blue: #c9feff,
    aqua-marine: #23edad,
  ),
);

// --------------------------------------------
// border radius ------------------------------
// --------------------------------------------
$border__radius: (
  1: 4px,
  2: 6px,
  3: 8px,
  4: 12px,
  5: 16px,
);

// --------------------------------------------
// Animations ---------------------------------
// --------------------------------------------
$easing: (
  easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1),
  swing: cubic-bezier(.25,.8,.50,1)
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__weight: (
	normal: 400,
	medium: 500,
  bold: 700,
  black: 900
);
