*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

html {
  background-color: #fff;
  font-size: 16px;
  min-width: 300px;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  background-color: color(other, gray);
}
