@import '../../../styles/abstracts/_index.scss';

.vd-picker__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize(black, .5);

  @include mq(481px) {
    display: none;
  }
}

.overlay-transition {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  &-leave-to,
  &-enter{
    opacity: 0;
  }
}
