@import '../../../styles/abstracts/_index.scss',
        '../index.scss';

.vd-picker__input {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .vd-wrapper--rtl & {
    direction: rtl;
    input[type="text"],
    button {
      margin: 0 $gutter 0 0;
    }
  }

  // Modifiers
  &--disabled {
    cursor: not-allowed;
    pointer-events: none;

    input,
    .vd-icon.vd-icon--disabled {
      opacity: .38;
    }
  }

  &--no-calendar-icon {
    input,
    button {
      margin: 0;
    }
  }

  // Elements
  &-clear {
    display: inline-flex;
    align-self: flex-start;
    line-height: 1;
    user-select: none;

    &__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      min-width: 24px;
      width: 24px;
      flex: 1 0 auto;

      button {
        @extend %reset-button;
      }

      .vd-icon.vd-icon {
        height: 24px;
        min-width: 24px;
        width: 24px;
      }
    }
  }

  input {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    border: none;
    box-shadow: none;
    outline: 0;
    font-size: 16px;
    line-height: 19px;
    margin-left: $gutter;
    font-family: inherit;
    background: transparent;
    color: currentColor;
    cursor: inherit;

    &:focus,
    &:active {
      outline: 0;
      box-shadow: none;
    }

    @include input-placeholder {
      opacity: .6;
    }
  }
}
