@import '../../../styles/abstracts/_index.scss';

.vd-picker__input {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: currentColor;

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;

    input {
      opacity: .38;
    }
  }

  &--no-date:not(.vd-picker__input--is-active) {
    opacity: .6;
  }

  .vd-wrapper--rtl & {
    direction: rtl;
    input[type="text"],
    button {
      margin: 0 $gutter 0 0;
    }
  }

  &--no-calendar-icon,
  .vd-wrapper--rtl &--no-calendar-icon {
    input[type="text"],
    button {
      margin: 0;
    }
  }

  &-icon {
    margin-bottom: 5px;
  }

  &-wrapper {
    display: flex;
    flex: 1 1 auto;
    position: relative;

    input {
      display: flex;
      flex: 1 1 auto;
      position: relative;
      border: none;
      box-shadow: none;
      outline: 0;
      font-size: 16px;
      line-height: 19px;
      margin-left: $gutter;
      font-family: inherit;
      background: transparent;
      color: currentColor;
      cursor: inherit;

      &:focus,
      &:active {
        outline: 0;
        box-shadow: none;
      }

      @include input-placeholder {
        opacity: .6;
      }
    }
  }

  &-clear {
    display: inline-flex;
    align-self: flex-start;
    line-height: 1;
    user-select: none;

    &__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      min-width: 24px;
      width: 24px;
      flex: 1 0 auto;
    }
  }

  button {
    @extend %reset-button;
    font-size: 16px;
    line-height: 19px;
    margin-left: $gutter;
    color: currentColor;
  }
}
