// --------------------------------------------
// Responsive ---------------------------------
// --------------------------------------------
$screen__sizes: (
  desktop: 1200px,
  tablet: 768px,
  phone: 480px,
);

$gutter: 8px;

// --------------------------------------------
// Size ---------------------------------------
// --------------------------------------------
$sizes: () !default;

// --------------------------------------------
// Colors -------------------------------------
// --------------------------------------------
$color: (
  other: (
    light-gray: #eef1f8,
  ),
  typography: (
    disabled: rgba(93, 106, 137, 0.2),
  ),
);

// --------------------------------------------
// border radius ------------------------------
// --------------------------------------------
$border__radius: (
  1: 4px,
  2: 6px,
  3: 8px,
  4: 12px,
  5: 16px,
);

// --------------------------------------------
// Animations ---------------------------------
// --------------------------------------------
$easing: (
  easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1),
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__weight: (
	normal: 400,
	medium: 500,
  bold: 700,
  black: 900
);

// --------------------------------------------
// Animations ---------------------------------
// --------------------------------------------
$easing: (
  fastInFastOut: cubic-bezier(.25,.8,.25,1),
  swing: cubic-bezier(.25,.8,.50,1)
);
