// --------------------------------------------
// Responsive ---------------------------------
// --------------------------------------------
$screen__sizes: (
  desktop: 1200px,
  tablet: 768px,
  phone: 480px,
);

$gutter: 8px;

// --------------------------------------------
// Size ---------------------------------------
// --------------------------------------------
$sizes: (
  desktop: (
    width: 315px,
    title: 48px,
    header: 85px,
    presets-row: 32px,
    day-height: 40px,
    controls: 56px,
  ),
  mobile: (
    width: 290px,
    title: 48px,
    header: 80px,
    presets-row: 32px,
    day-height: 36px,
    controls: 48px,
  )
);

// --------------------------------------------
// Colors -------------------------------------
// --------------------------------------------
$color: (
  other: (
    light-gray: #eef1f8,
  ),
);

// --------------------------------------------
// border radius ------------------------------
// --------------------------------------------
$border__radius: (
  1: 4px,
  2: 6px,
  3: 8px,
  4: 12px,
  5: 16px,
);

// --------------------------------------------
// Animations ---------------------------------
// --------------------------------------------
$easing: (
  easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1),
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__weight: (
	normal: 400,
	medium: 500,
  bold: 700,
  black: 900
);

// --------------------------------------------
// Animations ---------------------------------
// --------------------------------------------
$easing: (
  fastInFastOut: cubic-bezier(.25,.8,.25,1),
  swing: cubic-bezier(.25,.8,.50,1)
);
