// --------------------------------------------
// Responsive ---------------------------------
// --------------------------------------------
$screen__sizes: (
  desktop: 1200px,
  tablet: 768px,
  phone: 480px,
);

$gutter: 8px;

// --------------------------------------------
// Size ---------------------------------------
// --------------------------------------------
$sizes: (
  desktop: (
    width: 315px,
    title: 48px,
    header: 85px,
    day-width: 41px,
    day-height: 41px,
    controls: 56px,
  ),
  mobile: (
    width: 290px,
    title: 48px,
    header: 80px,
    day-width: 38px,
    day-height: 36px,
    controls: 48px,
  )
);

// --------------------------------------------
// Colors -------------------------------------
// --------------------------------------------
$color: (
  other: (
    orange: #f8a623,
    yellow: #ffe725,
    pink: #ff4577,
    purple: #9f4fff,
    dark-purple: #2d2b55,
    light-gray: #eef1f8,
    gray: #F3F4F9,
    blue: #4f88ff,
    light-blue: #c9feff,
    aqua-marine: #23edad,
  ),
);

// --------------------------------------------
// Animations ---------------------------------
// --------------------------------------------
$easing: (
  easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1),
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__weight: (
	normal: 400,
	medium: 500,
  bold: 700,
  black: 900
);
