@import '../../../styles/abstracts/_index.scss';

.vd-picker__validate {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 $gutter*3 $gutter $gutter*3;

  @include mq(tablet) {
    padding: $gutter $gutter*2;
  }

  .vd-picker--rtl & {
    direction: rtl;
  }

  &-button {
    @extend %reset-button;
    position: relative;
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    height: 36px;
    min-width: 44px;
    font-size: 14px;
    font-weight: 500;
    border-radius: get-border-radius(1);
    padding: 6px 8px;
    outline: 0;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;

    & + & {
      margin-left: $gutter;
    }

    &:hover:not(:disabled) {
      .vd-picker__validate-effect {
        opacity: .1;
      }
    }

    &:disabled,
    &[disabled] {
      color: rgba(0, 0, 0, 0.26) !important;
      cursor: default;
    }
  }

  &-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: -1;
  }
}
