@import '../index';

$table-height: get-size(datepicker, table, mobile);
$table-height-md: get-size(datepicker, table, desktop);
$table-date-height: calc(#{get-size(datepicker, day-height, mobile)} * 6);
$table-date-height-md: calc(#{get-size(datepicker, day-height, desktop)} * 6);

$day-width: calc(100%/7);

$week-font-size: 12px;
$week-font-weight: get-font-weight(medium);
$week-line-height: 18px;
$week-color: transparentize(black, .62);
