@import '../../../styles/abstracts/index';

$day-size: get-size(mobile, day-height);
$day-size-md: get-size(desktop, day-height);

$day-width: calc(100%/7);

$days-height-5-weeks: $day-size * 5;
$days-height-5-weeks-md: $day-size-md * 5;
$days-height-6-weeks: $day-size * 6;
$days-height-6-weeks-md: $day-size-md * 6;
