@import '../../../styles/abstracts/index';

$table-height: 242px;
$table-date-height: 208px;

$day-width: calc(100%/7);

$week-font-size: 12px;
$week-font-weight: get-font-weight(medium);
$week-line-height: 18px;
$week-color: transparentize(black, .62);
