@import   '../../../styles/abstracts/_index.scss',
          '../../../styles/base/_transitions.scss';

$day-size: get-size(mobile, day-height);
$day-size-md: get-size(desktop, day-height);

$days-height-5-weeks: $day-size * 5;
$days-height-5-weeks-md: $day-size-md * 5;
$days-height-6-weeks: $day-size * 6;
$days-height-6-weeks-md: $day-size-md * 6;

@mixin before-left-position {
  opacity: 1;
  left: 0;

  .vd-picker--rtl & {
    right: 0;
    left: unset;
  }
}

.vd-picker__table {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: $gutter $gutter*2;

  /* Week
  ---------------------- */
  &-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 12px;
    margin-bottom: $gutter;
    font-size: 12px;
    line-height: 12px;
    font-weight: get-font-weight(medium);
    color: transparentize(black, .62);

    .vd-picker--rtl & {
      direction: rtl;
    }
  }

  &-weekday {
    text-align: center;
  }

  /* Days
  ---------------------- */
  &-days__wrapper {
    position: relative;
    overflow: hidden;
    transition: height .3s cubic-bezier(0.23, 1, 0.32, 1);

    height: $days-height-5-weeks;
    @include mq(tablet) {
      height: $days-height-5-weeks-md;
    }

    &.has-6-weeks {
      height: $days-height-6-weeks;
      @include mq(tablet) {
        height: $days-height-6-weeks-md;
      }
    }
  }

  &-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: $day-size;
    overflow: hidden;
    width: 100%;

    @include mq(tablet) {
      grid-template-rows: $day-size-md;
    }

    .vd-picker--rtl & {
      direction: rtl;
    }
  }
}
