@import '../../../styles/abstracts/_index.scss';

.vd-picker__presets {
  position: relative;
  display: flex;
  padding: $gutter*2 $gutter*3;

  @include mq(phone) {
    padding: $gutter*2 $gutter*2 $gutter;
  }

  &-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: get-size(mobile, presets-row);
    width: 100%;

    @include mq(tablet) {
      grid-auto-rows: get-size(desktop, presets-row);
    }
  }
}

.vd-picker__preset {
  @extend %reset-button;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 $gutter;
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
  border-color: color(other, light-gray);
  border-style: solid;
  border-width: 0;
  transition: opacity .3s get-easing(swing);

  &:nth-child(odd) {
    &:first-child {
      border-width: 1px;
    }
    border-width: 0 1px 1px 1px;
  }
  &:nth-child(even) {
    &:nth-child(2) {
      border-width: 1px 1px 1px 0;
    }
    border-width: 0 1px 1px 0;
  }

  &-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s get-easing(swing);
    z-index: 0;
  }

  &-name {
    position: relative;
    z-index: 1;
  }

  &:hover:not(&--disabled),
  &--selected {
    color: white;

    .vd-picker__preset-effect {
      opacity: 1;
    }
  }

  &--selected  {
    pointer-events: none;
  }

  &--disabled  {
    color: rgba(93, 106, 137, 0.2);
    cursor: not-allowed;
    pointer-events: none;
  }
}
