.slide-h-next-leave-active,
.slide-h-next-enter-active,
.slide-h-prev-leave-active,
.slide-h-prev-enter-active {
  position: absolute;
  transition: transform .3s, opacity .3s;
}
.slide-h-next-enter, .slide-h-prev-leave-to {
  transform: translateX(100%);
  opacity: 0;
}
.slide-h-next-leave-to, .slide-h-prev-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-v-next-leave-active,
.slide-v-next-enter-active,
.slide-v-prev-leave-active,
.slide-v-prev-enter-active {
  position: absolute;
  transition: transform .3s, opacity .3s;
}
.slide-v-next-enter, .slide-v-prev-leave-to {
  transform: translateY(100%);
  opacity: 0;
}
.slide-v-next-leave-to, .slide-v-prev-enter {
  transform: translateY(-100%);
  opacity: 0;
}

.yearMonth-leave-active, .yearMonth-enter-active {
  position: absolute;
  transition: opacity .3s;
}

.yearMonth-enter {
  opacity: 0;
}
.yearMonth-leave-to {
  opacity: 0;
}
